<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <%- body %>
    <script>
      document.getElementById('uploadForm').addEventListener('submit', function(e) {
          e.preventDefault();
          const formData = new FormData(this);
          fetch('http://220.69.241.101:3001/upload', {
              method: 'POST',
              body: formData,
          })
          .then(response => response.json())
          .then(data => {
              document.getElementById('response').innerHTML = `<p>${data.message}</p><pre>${JSON.stringify(data.data, null, 2)}</pre>`;
          })
          .catch(error => {
              console.error('Error:', error);
              document.getElementById('response').innerHTML = `<p>Error uploading image.</p>`;
          });
      });
  </script>
</body>
</html>
