<body>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="image" required />
        <button type="submit">Upload Image</button>
    </form>
    <div id="response"></div>

</body>
